* {
    padding: 0px;
    margin: 0px;
    border: none;
    color: white;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/sf-pro-text-7.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Medium Text';
    src: url('/fonts/sf-pro-text-5.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Light Text';
    src: url('/fonts/sf-pro-text-3.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

input[type='file'] {
    max-width: 100%;
}

.upp{
    text-transform: uppercase;
}

.responsive-text {
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
}

@media (min-width: 992px) {
    .responsive-text {
        font-size: 30px;
        max-width: 80%;
    }
}

.link-tg {
    font-size: large;
}

.countdown-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-box {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 59, 203);
    border-radius: 38px;
    overflow: hidden;
  }
